*.py[cod]

# C extensions
*.so
*.o

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# music files
*.mp3

# specific to my project
old_c_code/organize

# specific to my repository
avenged.sevenfold/*
story of the year/*
yet another artist/*
old_c_code/album/*
